<nav class="bg-white border-t p-2 flex justify-around z-40">
  <a 
    routerLink="/goals" 
    routerLinkActive="text-slate-900"
    class="flex flex-col items-center py-1">
    <lucide-icon [img]="HomeIcon" size="20"></lucide-icon>
    <div class="text-xs">Goals</div>
  </a>
  <a 
    routerLink="/calendar" 
    routerLinkActive="text-slate-900"
    class="flex flex-col items-center py-1">
    <lucide-icon [img]="CalendarIcon" size="20"></lucide-icon>
    <div class="text-xs">Calendar</div>
  </a>
  <a 
    routerLink="/stats" 
    routerLinkActive="text-slate-900"
    class="flex flex-col items-center py-1">
    <lucide-icon [img]="BarChart3Icon" size="20"></lucide-icon>
    <div class="text-xs">Stats</div>
  </a>
  <!-- <a 
    routerLink="/reminders" 
    routerLinkActive="text-slate-900"
    class="flex flex-col items-center py-1">
    <lucide-icon [img]="ClockIcon" size="20"></lucide-icon>
    <div class="text-xs">Reminders</div>
  </a> -->
  
  @if (user()?.isAdmin) {
  <a 
    routerLink="/admin" 
    routerLinkActive="text-slate-900"
    class="flex flex-col items-center py-1">
    <lucide-icon [img]="ShieldIcon" size="20"></lucide-icon>
    <div class="text-xs">Admin</div>
  </a>
  }
  <a 
    routerLink="/settings" 
    routerLinkActive="text-slate-900"
    class="flex flex-col items-center py-1">
    <lucide-icon [img]="SettingsIcon" size="20"></lucide-icon>
    <div class="text-xs">Settings</div>
  </a>
</nav>
